<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit - MyBank</title>
    <link rel="stylesheet" href="/static/css/deposit.css">
</head>
<body>
    <div class="deposit-container">
        <h1>Deposit Funds</h1>
        
        <section class="deposit-form">
            <form action="#" method="post">
                <label for="transaction-type">Transaction Type</label>
                <select id="transaction-type" name="account_type" required>
                <option value="deposit">current</option>
                <option value="withdrawal">Savings</option>
                <option value="transfer">Business</option>
                </select>

                <label for="amount">Amount to Deposit:</label>
                <input type="number" id="amount" name="deposit_amount" placeholder="Amount" required>

                <label for="deposit-date">Deposit Date:</label>
                <input type="date" id="deposit-date" name="deposit-date" required>

                <button type="submit">Deposit</button>
            </form>
        </section>
    </div>
</body>
</html>
